<div class="block bank">
  <div class="bank-section">
    <label>
      {{ localize "FS4.Character.Sheet.Bank" }}
    </label>
    <input class="double-digits" type="number" value="{{actor.system.bankRating}}" readonly disabled>
  </div>

  <div class="bank-section">
    <label data-tooltip="{{ localize "FS4.Character.Trait.VP.full" }}">
      {{ localize "FS4.Character.Trait.VP.short" }}
    </label>
    <input class="double-digits" type="number" name="system.bank.vp" value="{{actor.system.bank.vp}}">
  </div>
  

  <div class="bank-section">
    <label data-tooltip="{{ localize "FS4.Character.Trait.WP.full" }}">
      {{ localize "FS4.Character.Trait.WP.short" }}
    </label>
    <input class="double-digits" type="number" name="system.bank.wp" value="{{actor.system.bank.wp}}">
  </div>

  <div class="double-input">
    <label>
      {{ localize "FS4.Character.Sheet.Surge" }} ({{ actor.system.surgeRating }})
    </label>
    <div class="inputs">
      <input class="double-digits" type="number" name="system.bank.surge" value="{{actor.system.bank.surge}}">
      <span> / </span>
      <input class="double-digits" type="number" value="{{actor.system.surgeAmount}}" readonly disabled>
    </div>
  </div>

  <div class="double-input">
    <label>
      {{ localize "FS4.Character.Trait.Revivals" }} ({{ actor.system.revivalRating }})
    </label>
    <div class="inputs">
      <input class="double-digits" type="number" name="system.revivals" value="{{actor.system.revivals}}">
      <span> / </span>
      <input class="double-digits" type="number" value="{{actor.system.revivalAmount}}" readonly disabled>
    </div>
  </div>

  <div class="double-input">
    <label>
      {{ localize "FS4.Character.Trait.Vitality" }}
    </label>
    <div class="inputs">
      <input class="double-digits" type="number" name="system.vitality" value="{{actor.system.vitality}}">
      <span> / </span>
      <input class="double-digits" type="number" value="{{actor.system.vitalityRating}}" readonly disabled>
    </div>
  </div>
</div>
