<div class="form-group scored-trait flexrow">
    {{#if rollData}}
    <img class="inline rollable draggable" src="icons/svg/d20-highlight.svg" alt="{{localize 'fs4.actions.roll'}}"
        title="{{localize 'fs4.actions.roll'}}" data-action="roll" data-roll-type="{{rollType}}"
        data-roll-attribute="{{rollData.slug}}" {{#if draggable}}data-id="{{rollData.slug}}" data-type="{{rollType}}"{{/if}} />
    {{/if}}

    <label for="{{name}}">
        {{label}}
    </label>

    <input type="number" name="{{name}}" value="{{value}}" class="score" {{#unless isEditable}}disabled{{/unless}} />
</div>
