<section
    class="scrollable tab {{tabs.modifiers.cssClass}}"
    data-group="{{tabs.modifiers.group}}"
    data-tab="{{tabs.modifiers.id}}"
>
    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.commonFields.modifiers" }}</h3>

            <div class="item-controls">
                <a
                    class="item-control"
                    data-action="addModifier"
                    title="{{ localize "fs4.sheets.common.add" }}"
                >
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </li>
    </ul>

    <ul class="item-list">
        {{#each modifiers}}
            {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>
</section>
