<header class="sheet-header">
    <aside class="img">
        <img src="{{actor.img}}" class="document-img actor-img {{#if isExtra}}extra-img{{/if}}" {{#if isEditable}}data-edit="img" data-action="editImage"{{/if}} />
        <a class="show-image" data-action="showImage" data-src="{{actor.img}}" data-id="{{actor.id}}" data-name="{{actor.name}}">
            <i class="fa-solid fa-image fa-fw"></i>
        </a>
    </aside>

    <div class="header-identity">
        <h1 class="actor-name">
            {{#if isEditable }}
            <input type="text" name="name" value="{{actor.name}}" />
            {{ else}}
            {{ actor.name }}
            {{/if}}
        </h1>
    </div>
</header>
