<section class="scrollable tab {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}"
    data-tab="{{tabs.inventory.id}}">
    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.actor.fields.equipment" }}</h3>
        </li>
    </ul>

    <ul class="item-list">
        {{#each equipment}}
        {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>

    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.actor.fields.weapons" }}</h3>
            {{#each weaponColumnLabels}}
            <div class="item-column">{{this}}</div>
            {{/each}}
            <div></div>
        </li>
    </ul>

    <ul class="item-list">
        {{#each weapons}}
        {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>

    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.actor.fields.armors" }}</h3>
            {{#each armorColumnLabels}}
            <div class="item-column">{{this}}</div>
            {{/each}}
            <div></div>
        </li>
    </ul>

    <ul class="item-list">
        {{#each armors}}
        {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>

    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.actor.fields.shields" }}</h3>
            {{#each shieldColumnLabels}}
            <div class="item-column">{{this}}</div>
            {{/each}}
            <div></div>
        </li>
    </ul>

    <ul class="item-list">
        {{#each shields}}
        {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>

    <ul class="item-list">
        <li class="item-list-header flexrow">
            <h3>{{ localize "fs4.actor.fields.eshields" }}</h3>
            {{#each eshieldColumnLabels}}
            <div class="item-column">{{this}}</div>
            {{/each}}
            <div></div>
        </li>
    </ul>

    <ul class="item-list">
        {{#each eshields}}
        {{> "fading-suns-4.inline-item" item=this}}
        {{/each}}
    </ul>

    <hr>

    <div class="flexrow stats-row">
        <div class="form-group">
            <label for="system.cash">{{ localize "fs4.actor.fields.cash" }}</label>
            <input type="number" name="system.cash" value="{{system.cash}}" step="1" />
        </div>

        {{#if system.level}}
        <div class="form-group">
            <label for="system.techGnosis">{{ localize "fs4.actor.fields.techGnosis" }}</label>
            <div class="flexrow">
                <input type="number" name="system.techGnosis" value="{{techGnosis}}" readonly disabled />
                &nbsp;/&nbsp;
                <input type="number" value="{{system.level}}" readonly disabled />
            </div>
        </div>
        {{/if}}
    </div>
</section>
