<section class="scrollable tab {{tabs.stats.cssClass}}" data-group="{{tabs.stats.group}}" data-tab="{{tabs.stats.id}}">
    <section class="flexrow traits">
        <section class="flexcol flex3 skills">
            <h2>{{ localize "fs4.actor.fields.skills" }}</h2>

            <section class="flexrow">
                <section class="flexcol skills-left">
                    {{#each skillsLeftColumn}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    rollData=this.rollData
                    rollType=this.rollType
                    isEditable=../isEditable
                    draggable=true
                    }}
                    {{/each}}
                </section>

                <section class="flexcol skills-right">
                    {{#each skillsRightColumn}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    rollData=this.rollData
                    rollType=this.rollType
                    isEditable=../isEditable
                    draggable=true
                    }}
                    {{/each}}
                </section>
            </section>

            <section class="flexcol">
                <h2>{{ localize "fs4.actor.fields.occult" }}</h2>

                <div class="flexrow occult-container">
                    <div class="flexcol">
                        <label for="system.occult.psi">{{ localize "fs4.actor.fields.psi" }}</label>
                        <input class="score" type="number" name="system.occult.psi" value="{{system.occult.psi}}" min="0" {{#unless
                            isEditable}}disabled{{/unless}} />
                    </div>

                    <div class="flexcol">
                        <label for="system.occult.urge">{{ localize "fs4.actor.fields.urge" }}</label>
                        <input class="score" type="number" name="system.occult.urge" value="{{system.occult.urge}}" min="0" {{#unless
                            isEditable}}disabled{{/unless}} />
                    </div>

                    <div class="flexcol">
                        <label for="system.occult.theurgy">{{ localize "fs4.actor.fields.theurgy" }}</label>
                        <input class="score" type="number" name="system.occult.theurgy" value="{{system.occult.theurgy}}" min="0"
                            {{#unless isEditable}}disabled{{/unless}} />
                    </div>

                    <div class="flexcol">
                        <label for="system.occult.hubris">{{ localize "fs4.actor.fields.hubris" }}</label>
                        <input class="score" type="number" name="system.occult.hubris" value="{{system.occult.hubris}}" min="0"
                            {{#unless isEditable}}disabled{{/unless}} />
                    </div>
                </div>
            </section>
        </section> <!-- End skills -->

        <section class="flexcol characteristics">
            <h2>{{ localize "fs4.actor.fields.characteristics" }}</h2>
            <div class="flexcol">
                <div class="flexcol flex0">
                    {{#each characteristics.body}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    isEditable=../isEditable
                    }}
                    {{/each}}
                </div>

                <hr>

                <div class="flexcol flex0">
                    {{#each characteristics.mind}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    isEditable=../isEditable
                    }}
                    {{/each}}
                </div>

                <hr>

                <div class="flexcol flex0">
                    {{#each characteristics.spirit}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    isEditable=../isEditable
                    }}
                    {{/each}}
                </div>

                <hr>

                <div class="flexcol">
                    <h2>{{ localize "fs4.actor.fields.resistance" }}</h2>
                    {{#each resistance}}
                    {{> "fading-suns-4.scored-trait"
                    label=this.label
                    name=this.name
                    value=this.value
                    isEditable=../isResistanceEditable
                    }}
                    {{/each}}
                </div>
            </div>
        </section> <!-- End characteristics -->
    </section> <!-- End traits -->

    <hr>

    <section class="flexrow health-container">
        <h2>{{ localize "fs4.actor.fields.vitality" }}</h2>
        <div class="flex1 vitality-container flexrow">
            <input class="score" type="number" name="system.vitality.value" value="{{system.vitality.value}}" min="0"
                max="{{system.vitality.max}}" {{#unless isEditable}}disabled{{/unless}} />
            &nbsp;/&nbsp;
            <strong>{{system.vitality.max}}</strong>
        </div>

        {{#if system.hasRevivals}}
        <div class="form-group flex3 flexrow revivals-container">
            <h2>{{ localize "fs4.actor.fields.revivals" }}</h2>

            <input type="number" class="score" name="system.revivals" value="{{system.revivals}}" min="0"
                max="{{system.maxRevivals}}" {{#unless isEditable}}disabled{{/unless}} />

            <div class="flexcol">
                <strong>{{ localize "fs4.commonFields.max" }}</strong>
                <span>{{system.maxRevivals}}</span>
            </div>

            <div class="flexcol">
                <strong>{{ localize "fs4.commonFields.value" }}</strong>
                <span>{{system.revivalVitalityGain}}</span>
            </div>
        </div>
        {{/if}}
    </section>

    <hr>

    <section class="flexrow vp-container">
        <h2>{{ localize "fs4.actor.fields.vp.vp" }}</h2>
        <div class="flexcol">
            <label for="system.vp.cache">{{ localize "fs4.actor.fields.vp.cache" }}</label>
            <input class="score" type="number" name="system.vp.cache" value="{{system.vp.cache}}" min="0" {{#unless
                isEditable}}disabled{{/unless}} />
        </div>

        {{#if system.hasVPBank}}
        <div class="flexcol">
            <label for="system.vp.bank">{{ localize "fs4.actor.fields.vp.bank" }}</label>
            <input class="score" type="number" name="system.vp.bank" value="{{system.vp.bank}}" min="0"
                max="{{system.bankVPCapacity}}" {{#unless isEditable}}disabled{{/unless}} />
        </div>

        {{#if system.hasWP}}
        <div class="flexcol">
            <label for="system.wp">{{ localize "fs4.actor.fields.vp.wp" }}</label>
            <input class="score" type="number" name="system.wp" value="{{system.wp}}" min="0" {{#unless
                isEditable}}disabled{{/unless}} />
        </div>
        {{/if}}

        <div class="flexcol">
            <strong>{{ localize "fs4.actor.fields.vp.bankCapacity" }}</strong>
            <span>{{system.maxBank}}</span>
        </div>
        {{/if}}

        {{#if system.hasSurges}}
        <div class="flexcol">
            <label for="system.surges">{{ localize "fs4.actor.fields.surges" }}</label>
            <input class="score" type="number" name="system.surges" value="{{system.surges}}" min="0"
                max="{{system.maxSurges}}" {{#unless isEditable}}disabled{{/unless}} />
        </div>

        <div class="flexcol">
            <strong>{{ localize "fs4.commonFields.max" }}</strong>
            <span>{{system.maxSurges}}</span>
        </div>

        <div class="flexcol">
            <strong>{{ localize "fs4.commonFields.value" }}</strong>
            <span>{{system.surgeVPGain}}</span>
        </div>
        {{/if}}
    </section>

    <ul class="flexrow actions-container">
        {{#if system.hasVPBank}}<li class="action" data-action="bankVP">{{ localize "fs4.sheets.actor.actions.bankVP" }}
        </li>{{/if}}
        <li class="action" data-action="emptyCache">{{ localize "fs4.sheets.actor.actions.emptyCache" }}</li>
        {{#if system.hasSurges}}<li class="action" data-action="surge">{{ localize "fs4.sheets.actor.actions.surge" }}
        </li>{{/if}}
        {{#if system.hasRevivals}}<li class="action" data-action="revival">{{ localize
            "fs4.sheets.actor.actions.revival" }}</li>{{/if}}
        <li class="action" data-action="respite">{{ localize "fs4.sheets.actor.actions.respite" }}</li>
    </ul>
</section>
