<section class="scrollable tab {{tabs.main.cssClass}}" data-group="{{tabs.main.group}}" data-tab="{{tabs.main.id}}">
    {{> "fading-suns-4.equipment-base"}}

    <div class="flexrow stats-row">
        <div class="flexcol flex2">
            <label for="system.capability">{{ localize "fs4.weapon.fields.capability" }}</label>
            {{> "fading-suns-4.reference" reference=capability isEditable=isEditable }}
        </div>

        <div class="flexcol">
            <label for="system.damage">{{ localize "fs4.weapon.fields.damage" }}</label>
            <input type="number" name="system.damage" value="{{system.damage}}" />
        </div>

        <div class="flexcol">
            <label for="system.strRequirement">{{ localize "fs4.weapon.fields.strRequirement" }}</label>
            <input type="number" name="system.strRequirement" value="{{system.strRequirement}}" />
        </div>

        <div class="flexcol">
            <label for="system.melee">{{ localize "fs4.weapon.fields.melee" }}</label>
            <input name="system.melee" type="checkbox" {{checked system.melee}} />
        </div>
    </div>

    {{#if (not system.melee)}}
    <div class="flexrow stats-row">
        <div class="flexcol">
            <label for="system.ammo">{{ localize "fs4.weapon.fields.ammo" }}</label>
            <input type="number" name="system.ammo" value="{{system.ammo}}" />
        </div>

        <div class="flexcol">
            <label for="system.rof">{{ localize "fs4.weapon.fields.rof" }}</label>
            <input type="number" name="system.rof" value="{{system.rof}}" />
        </div>

        <div class="flexcol flex2">
            <label for="system.range">{{ localize "fs4.weapon.fields.range" }}</label>
            <div class="flexrow">
                <input type="number" title="{{ localize " fs4.weapon.range.short" }}" name="system.range.short"
                    value="{{system.range.short}}" {{#if system.melee}}disabled{{/if}} />
                <input type="number" title="{{ localize " fs4.weapon.range.long" }}" name="system.range.long"
                    value="{{system.range.long}}" {{#if system.melee}}disabled{{/if}} />
            </div>
        </div>

        <div class="flexcol">
            <label for="system.burst">{{ localize "fs4.weapon.fields.burst" }}</label>
            <input type="checkbox" name="system.burst" {{checked system.burst}} />
        </div>

        <div class="flexcol">
            <label for="system.blastForce">{{ localize "fs4.weapon.fields.blastForce" }}</label>
            <input type="number" name="system.blastForce" value="{{system.blastForce}}" />
        </div>
    </div>
    {{/if}}

    <hr />

    <div class="flexrow">
        {{#each damageTypeOptions}}
        <span class="damage-type {{#if this.checked}}active{{else}}inactive{{/if}}" data-type="{{this.type}}"
            data-action="toggleDamageType" title="{{this.title}}">
            {{this.label}}
        </span>
        {{/each}}
    </div>

    <hr>

    <section>
        <ul class="item-list">
            <li class="item-list-header flexrow">
                <h3>{{ localize "fs4.weapon.fields.features" }}</h3>
            </li>
        </ul>

        <ul class="item-list">
            {{#each features}}
            {{> "fading-suns-4.inline-item" item=this}}
            {{/each}}
        </ul>
    </section>

    <h2>{{ localize "fs4.commonFields.description" }}</h2>
    {{> "fading-suns-4.editor" name="system.description" value=description}}
</section>
